.details {
  background-color: #ffffff;
  display: block;
  border: black 1px solid;
  width: min-content;
  padding: 0.5em;
  border-radius: 0.5em;
  -webkit-transform: translate(-13.2em 2.2em);
  visibility: hidden;
}
